.sidebar {
  width: 12vw;
  height: 100dvh;
  background-color: #1a2c1c;
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
  transition: width 0.3s ease;
  /* Animação ao colapsar/expandir */
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  margin: 25px 12px;
  display: flex;
  align-items: center;
}


.sidebar ul li fa-icon {
  font-size: 20px;
  /* tamanho dos ícones  */
}

.sidebar ul li fa-icon {
  margin-right: 5px;
  /* Espaçamento entre ícone e texto */
}


.sidebar ul li a {
  color: #fff;
  text-decoration: none;
}

.logo {
  width: 100px;
}


.sidebar.collapsed {
  width: 80px;
  /*largura quando colapsado */
}

.sidebar.collapsed .logo {
  width: 100%;
  height: 100%;

}

.sidebar .logo {
  width: 100%;
  height: 100%;
}

.sidebar.collapsed ul li span {
  display: none;
}

/* Botão de alternar menu */
button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 20px;
  margin-bottom: 20px;
}

.sidebar button span {
  margin-left: 10px;
  font-size: 25px;
}