<!-- Página HTML -->
<div class="register-container-page">
    <!-- CARD -->
    <form class="form-container">
        <div class="form-title">
            <span>Cadastrar novo usuário</span>
        </div>
        <!-- sessao do nome -->
        <div class="name-container">
            <span>Nome:</span>
            <input type="texto" placeholder="Ex: João...">
        </div>
        <!-- sessao do email -->
        <div class="email-container">
            <span>Email:</span>
            <input type="email" placeholder="Ex: email@email.com">
        </div>
        <!-- sessao senha -->
        <div class="password-container">
            <span>Senha:</span>
            <input type="password" placeholder="Digite a senha">
        </div>

        <!-- botao de cadasatro -->
        <button class="register-button">Cadastrar</button>

        <!-- links -->
        <div class="links">
            <a href="/">Já possui cadastro? Entre aqui.</a>
        </div>
    </form>
</div>