.register-container-page {
    width: 100%;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Dongle", sans-serif;
    background: #efefef;
    background-image: url('/../../../assets/vecteezy_hand-painted-watercolor-leaf-nature-background_8449889.jpg'); 
}

.form-container {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 400px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background-color: white;
}

.form-title {
    width: 100%;
    display: flex;
    justify-content: center;
}

.form-title span {
    font-size: 36px;
    color: #517052;
}


.name-container,
.email-container,
.password-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.name-container span,
.email-container span,
.password-container span {
    font-size: 22px;
    color: #517052;
    font-weight: 600;
}

.name-container input,
.email-container input,
.password-container input {
    outline: none;
    padding: 10px;
    width: 100%;
    border-radius: 4px;
    border: solid 1px #ccc;
}

.name-container input:focus,
.email-container input:focus,
.password-container input:focus {
    transition: .5s;
    border: solid 1px #6e9970;
}

.register-button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #517052;
    color: white;
    font-weight: 600;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: .3s;
}

.register-button:hover {
    background-color: #6e9970;
}

.links {
    width: 100%;
    display: flex;
    justify-content: center;
}

.links a {
    text-decoration: none;
    color: #517052;
    transition: .3s;
    font-size: 22px;
}

.links a:hover {
    color: #6e9970;
}