<div class="screen">
    <app-siderbar-menu></app-siderbar-menu>
    <div class="container">
        <div class="saldo-geral">
            <div class="saldo-data">
                <span class="saldo-title">Saldo Geral</span>
                <span class="saldo-value">R$: 6.000,00</span>
            </div>

        </div>
        <div class="rendimentos">
            <div class="entrada-saida">
                <div class="entrada">
                    <div class="entrada-header">
                        <span>Entrada</span>
                        <select class="select" name="" id="">
                            <option value="diario">Diário</option>
                            <option value="mensal">Mensal</option>
                        </select>
                    </div>
                    <div class="value">
                        <span>R$:500,00</span>
                    </div>
                </div>
                <div class="saida">
                    <div class="saida-header">
                        <span>Saída</span>
                        <select class="select" name="" id="">
                            <option value="diario">Diário</option>
                            <option value="mensal">Mensal</option>
                        </select>
                    </div>
                    <div class="value">
                        <span>R$:500,00</span>
                    </div>

                </div>
            </div>

            <div class="balanco">

                <div class="balanco-header">
                    <span>Entrada</span>
                    <select class="select" name="" id="">
                        <option value="diario">Diário</option>
                        <option value="mensal">Mensal</option>
                    </select>
                </div>

                <div class="value">
                    <span>R$:500,00</span>
                </div>

            </div>

        </div>
        <div class="servi-realizados">

        </div>
        <div class="vencimentos">

        </div>

    </div>
</div>