<div class="sidebar" [class.collapsed]="isCollapsed">
  <button (click)="toggleMenu()" class="toggle-btn">
    <img class="logo" src="assets/img/logo-sem bg.png">
  </button>

  <ul>
    <li>
      <a routerLink="/home" routerLinkActive="active">
        <fa-icon [icon]="faHome"></fa-icon> 
        <span *ngIf="!isCollapsed">Dashboard</span>
      </a>
    </li>

    <li>
      <a routerLink="/transacoes" routerLinkActive="active">
        <fa-icon [icon]="faRepeat"></fa-icon> 
        <span *ngIf="!isCollapsed">Transações</span>
      </a>
    </li>

    <li>
      <a routerLink="/servicos" routerLinkActive="active">
        <fa-icon [icon]="faCut"></fa-icon> 
        <span *ngIf="!isCollapsed">Serviços</span>
      </a>
    </li>

    <li>
      <a routerLink="/servicos-realizados" routerLinkActive="active">
        <fa-icon [icon]="faCut"></fa-icon> 
        <span *ngIf="!isCollapsed">Serviços Realizados</span>
      </a>
    </li>

    <li>
      <!-- Ajustar quando o componente configurações for criado -->
      <a routerLink="/configurações" routerLinkActive="active">
        <fa-icon [icon]="faCog"></fa-icon> 
        <span *ngIf="!isCollapsed">Configurações</span>
      </a>
    </li>

  </ul>
</div>
