button {
  font-size: 24px;
}

.screen {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
  background-color: #efefee;
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  border: none;
  cursor: default;

}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  min-width: 300px;
  max-width: 850px;
  height: 600px;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  overflow: auto;
  scroll-behavior: smooth;
  padding: 2rem 3rem;
}

.modal-content h2 {
  margin-bottom: 20px;
}

.modal-content label {
  display: block;
  margin-top: 10px;
  text-align: left;
}

.modal-content input,
.modal-content select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.modal-content button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
}

.modal-content button:hover {
  background-color: #0056b3;
}

.modal-content button:nth-child(2) {
  background-color: #6c757d;
}

.modal-content button:nth-child(2):hover {
  background-color: #5a6268;
}

.modal-content h2 {
  color: #657D65;
  font-weight: 600;
}

/* Estilo do botão "Nova Transação" */
.headerBtn {
  padding: 0px 20px;
  margin: 20px 10px;
  background-color: transparent;
  color: black;
  border: none;
  cursor: pointer;
  font-size: 22px;
  box-sizing: border-box;
  border-bottom: solid transparent 2px;
  margin-top: 60px;

}

.headerBtn:hover {
  transition: .3s;
  border-bottom: solid #657D65 2px;
}


/* Estilo da paginação */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  padding: 10px 20px;
  margin: 0 5px;
  border: none;
  background-color: lightgray;
  cursor: pointer;
  border-radius: 4px;
  font-size: 24px;
  font-weight: 600;
  background-color: #657D65;
  color: #FFFFFF;
}

.pagination button:hover {
  background-color: #769476
}

.pagination span {
  align-self: center;
  padding: 0 10px;
  font-weight: bold;
  font-size: 24px;
  color: #657D65;
}

.container {
  width: 100%;
}

.transacao_header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  border-bottom: solid rgb(209, 209, 209) 2px;
}

.transacao_header strong {
  flex: 1;
  text-align: center;
  font-size: 28px;
}

.transacao_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: .8rem 1rem;
  background-color: white;
  border-radius: 15px;
}

.transacao_data {
  width: 100%;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  border-bottom: solid rgb(233, 233, 233) 1px;
}

.transacao_data p {
  height: 100%;
  flex: 1;
  text-align: center;
  font-size: 22px;
  align-items: center;
  margin-top: 20px;
}

.nova_transacao {
  background-color: #657D65;
  color: #FFFFFF;
  padding: .3rem 1.5rem;
  font-size: 24px;
  border: none;
  transition: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin-top: 30px;
}

.nova_transacao:hover {
  background-color: #8aa08a;
}

select {
  font-size: 22px;
  outline: #657D65;
}

calendario {
  font-size: 30px;
  outline: none;
}

input {
  font-size: 24px;
  outline: none;
}

label {
  font-size: 24px;
  font-weight: 600;
  color: #657D65;
}

h3 {
  font-weight: 600;
  color: #657D65;
}

h4 {
  font-weight: 600;
  color: #657D65;
}

.selected-tab {
  background-color: #657D65;;
  color: white;
  font-weight: bold;
  border-radius: 5px;
}