<div class="reset-password-container">
  <div class="reset-password-card">
    <h1 class="app-title">Recuperar Senha</h1>


    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" class="form-control" [(ngModel)]="email" name="email" required
          placeholder="Digite seu email" />
      </div>

      <button type="submit" class="btn-primary">Redefinição de senha</button>
    </form>

    <a href="/" class="back-to-login">Voltar para Login</a>
  </div>
</div>