<nav class="d-flex flex-column vh-100 bg-dark text-white p-3" style="width: 250px;">
    <h3 class="text-center mb-4">Leonísia</h3>
    <ul class="nav flex-column">
      <li class="nav-item mb-2">
        <a class="nav-link text-white" routerLink="/home">
          <i class="fa fa-home"></i> Dashboard
        </a>
      </li>
      <li class="nav-item mb-2">
        <a class="nav-link text-white" routerLink="/fluxo-caixa">
          <i class="fa fa-dollar"></i> Fluxo de Caixa
        </a>
      </li>
      <li class="nav-item mb-2">
        <a class="nav-link text-white" routerLink="/relatorios">
          <i class="fa fa-bar-chart"></i> Relatórios
        </a>
      </li>
      <li class="nav-item mb-2">
        <a class="nav-link text-white" routerLink="/servicos">
          <i class="fa fa-list"></i> Serviços
        </a>
      </li>
      <li class="nav-item mb-2">
        <a class="nav-link text-white" routerLink="/realizar-servico">
          <i class="fa fa-scissors"></i> Realizar Serviço
        </a>
      </li>
      <li class="nav-item mb-2">
        <a class="nav-link text-white" routerLink="/lista-servicos">
          <i class="fa fa-tasks"></i> Lista de Serviços
        </a>
      </li>
    </ul>
  </nav>
  