<div class="screen">

    <app-siderbar-menu></app-siderbar-menu>
    <div>
        <div>
            <button (click)="selectTab('tudo')" [class.active]="selectedTab === 'tudo'">Tudo</button>
            <button (click)="selectTab('entrada')" [class.active]="selectedTab === 'entrada'">Entrada</button>
            <button (click)="selectTab('saida')" [class.active]="selectedTab === 'saida'">Saída</button>
        </div>

        <ul>
            <li *ngFor="let transacao of paginatedTransacoes">
                <strong>Data:</strong> {{ transacao.data | date:'dd/MM/yyyy' }} |
                <strong>Método de Pagamento:</strong> {{ transacao.metodoPagamento }} |
                <strong>Valor:</strong> {{ transacao.valor | currency:'BRL' }} |
                <strong>Tipo:</strong> {{ transacao.tipo }}
            </li>
        </ul>

        <!-- Controle de paginação -->
        <div class="pagination">
            <button (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 1">Anterior</button>
            <span>Página {{ currentPage }} de {{ totalPages }}</span>
            <button (click)="goToPage(currentPage + 1)" [disabled]="currentPage === totalPages">Próxima</button>
        </div>
    </div>

</div>
