<div class="d-flex">
  
    <!-- Conteúdo principal -->
    <div class="container mt-5" style="margin-left: 250px;">
      <h2 class="mb-4">Realizar Serviço</h2>
      <table class="table table-striped table-bordered">
        <thead class="thead-dark">
          <tr>
            <th>Serviço</th>
            <th>Preço</th>
            <th class="text-center">Adicionar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let servico of servicos">
            <td>{{ servico.nome }}</td>
            <td>R$ {{ servico.preco }}</td>
            <td class="text-center">
              <button class="btn btn-primary" (click)="adicionarServico(servico)">
                Adicionar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
  
      <!-- Exibe os serviços selecionados -->
      <div *ngIf="servicosSelecionados.length > 0" class="mt-4">
        <h3>Serviços Selecionados:</h3>
        <ul class="list-group mb-4">
          <li *ngFor="let servico of servicosSelecionados" class="list-group-item d-flex justify-content-between align-items-center">
            {{ servico.nome }} - R$ {{ servico.preco }}
            <button class="btn btn-danger" (click)="removerServico(servico.id)">
              Remover
            </button>
          </li>
        </ul>
      </div>
  
      <!-- Botão para fechar o pedido -->
      <div class="text-right">
        <button class="btn btn-success btn-lg" (click)="fecharPedido()">Fechar Pedido</button>
      </div>
    </div>
  </div>
  