<div class="screen">
  <app-siderbar-menu></app-siderbar-menu>
  
  <div class="cadastro-container">
    <h2>{{ isEditMode ? 'Editar Serviço' : 'Cadastrar Serviço ou Produto' }}</h2>
    <p class="description">
      {{ isEditMode ? 'Nesta tela você pode fazer alterações em produtos e serviços já cadastrados anteriormente, basta atualizar o campo que vai ser modificado e clicar em Editar, caso não deseje fazer nenhuma alteração clique em cancelar.' : 'Nessa tela você pode cadastrar um serviço ou um produto, para isso basta preencher os campos com o nome do serviço ou produto, uma breve descrição desse serviço e por fim informar o valor a ser cobrado por esse serviço/produto.' }}
    </p>

    <form [formGroup]="cadastroForm" (ngSubmit)="salvar()">
      <div class="form-group">
        <label for="nome">Nome do produto/serviço</label>
        <input id="nome" formControlName="nome" type="text" placeholder="Ex: Hidratação">
      </div>

      <div class="form-group">
        <label for="descricao">Descrição do produto/serviço</label>
        <textarea id="descricao" formControlName="descricao" placeholder="Breve descrição do serviço ou produto..."></textarea>
      </div>

      <div class="form-group">
        <label for="preco">Valor do produto/serviço</label>
        <div class="input-group">
          <span class="input-group-text">R$</span>
          <input id="preco" formControlName="preco" type="number" placeholder="Ex: 20.00">
        </div>
      </div>

      <div class="button-group">
        <button type="button" class="btn-cancelar" (click)="cancelar()">
          Cancelar
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M18 6L6 18M6 6l12 12"></path>
          </svg>
        </button>
        <button type="submit" [disabled]="cadastroForm.invalid" [ngClass]="isEditMode ? 'btn-editar' : 'btn-cadastrar'">
          {{ isEditMode ? 'Editar' : 'Cadastrar' }}
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M12 5v14M5 12h14"></path>
          </svg>
        </button>
      </div>
    </form>

    <p class="info-text">
      Se houver qualquer equívoco nos dados preenchidos, atualização de preço ou algo que precise ser alterado, você pode fazer a edição do serviço ou produto. Basta seguir para Lista de serviços no menu lateral, buscar pelo serviço que há o equívoco ou que precisa ser atualizado e clicar em editar.
    </p>
  </div>
</div>
