.login-screen-container {
    width: 100%;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #efefef;
    font-family: "Dongle", sans-serif;
    background-image: url('../../../assets/vecteezy_hand-painted-watercolor-leaf-nature-background_8449889.jpg');
    background-size: cover;
    background-position: center;


    & .login-container {
        background-color: white;
        padding: 30px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        text-align: center;
        width: 100%;
        max-width: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;

        & .logo {
            width: 100px;
            height: 100px;

            & img {
                width: 100%;
                height: 100%;
            }
        }

        & .email-container,
        .password-container {
            display: flex;
            flex-direction: column;
            gap: .3rem;
            width: 100%;

            & span {
                text-align: start;
                font-size: 24px;
                font-weight: 600;
                color: #517052;
            }

            & input {
                outline: none;
                border: none;
                max-width: 400px;
                padding: 10px;
                border-radius: 4px;
                border: 1px solid #ccc;
                margin-bottom: 10px;
            }

            & input:focus {
                border: 1px solid #56a571;
            }
        }

        & .login-button {
            width: 100%;
            border: none;
            background-color: #3F5840;
            color: white;
            padding: 0.4rem 2.5rem;
            transition: .3s;
            font-size: 18px;
            border-radius: 3px;
            margin: 20px 0;
            font-weight: 600;
        }

        & .login-button:hover {
            background-color: #517052;
            cursor: pointer;
        }

        & .links {
            display: flex;
            justify-content: center;
            gap: 20px;

            & a {
                text-decoration: none;
                font-size: 22px;
                color: #517052;
            }
        }
    }


}