<div class="screen">
  <app-siderbar-menu></app-siderbar-menu>

  <div class="container mt-5">
    
    <ul class="servico-lista">
      <div class="servico-item header">
        <div class="servico-nome">Serviço</div>
        <div class="servico-preco">Preço</div>
        <div class="servico-actions">Ações</div>
      </div>
      <div class="servico-item" *ngFor="let servico of servicos">
        <div class="servico-nome">
          {{ servico.nome }}
        </div>
        <div class="servico-preco">
          {{ servico.preco | currency: 'BRL':'symbol':'1.2-2':'pt-BR' }}
        </div>
        <div class="servico-actions">
          <button (click)="deletarServico(servico.id)" class="btn btn-deletar">
            <i class="fas fa-trash-alt"></i>
          </button>
          <button (click)="editarServico(servico.id)" class="btn btn-editar">
            Editar
          </button>
        </div>
      </div>
    </ul>

    <button (click)="irParaCadastro()" class="btn btn-cadastrar">Novo Serviço</button>
  </div>
</div>